.item_single{
  padding: 40px 0px;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}
.single_div{
  display: flex;
  gap: 40px;
}
.single1{
  width: 40%;
}
.set_img1{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.img_set{
  width: 60px;
  padding: 3px;
  border: 1px solid var(--soft-light);
  height: 60px;
}
.select{
  border: 1px solid var(--primary);
}
.single1 img{
  width: 100%;
  height: 80%;
  height: 500px;
  object-fit: cover;
}
.img_set img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.single2{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}
.sin_links{
  display: flex;
  gap: 10px;
  align-items: center;
}
.sin_links button{
  width: 40px;
  height: 35px;
  cursor: pointer;
  color: #ffffff;
  background: #df8080;
}
.sin_links button a{
  color: #ffffff;
  font-size: 16px;
}
.sin_links button:nth-child(1){
  color: #ffffff;
  font-size: 16px;
  background: var(--cyan);
}
.sin_links button:nth-child(2){
  color: #ffffff;
  font-size: 16px;
  background: var(--indigo);
}
.sin_links button:nth-child(3){
  color: #ffffff;
  font-size: 16px;
  background: var(--blue);
}
.sin_links button:nth-child(4){
  color: #ffffff;
  font-size: 16px;
  background: var(--green);
}
.sin_com{
  display: flex;
  align-items: center;
  gap: 10px;
}
.single_com{
  display: flex;
  color: var(--soft-white);
  align-items: center;
  font-size: 14px;
  gap: 10px;
}
.sin_brand{
  display: flex;
  align-items: center;
  gap: 20px;
}
.sin_rate{
  display: flex;
  gap: 10px;
  color: var(--soft-white);
  font-size: 15px;
}
.sin_btns{
  display: flex;
  gap: 20px;
}
.sin_cart{
  width: 160px;
  display: flex;
  padding: 12px 0px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 14px;
  background: var(--primary);
}
.sin_cart:hover{
  background: var(--warning);
}
.sin_cart:nth-child(2){
  background: var(--warning);
}
.sin_cart:nth-child(2):hover{
  background: var(--primary);
}
.sin_add{
  display: flex;
  gap: 20px;
  align-items: center;
}
.sin_addto{
  display: flex;
  gap: 30px;
  align-items: center;
}
.sin_add p, .sin_brand p, .sin_total p{
  color: var(--soft-white);
  font-size: 14px;
}
.sin_addto button{
  width: 40px;
  height: 40px;
  color: #757575;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 14px;
  background: var(--light);
}
.sin_addto button:hover{
  background: var(--soft-light);
}
.sin_total{
  display: flex;
  align-items: center;
  gap: 20px;
}
.sin_total h2{
  color: var(--primary);
}



.review{
  display: flex;
  gap: 40px;
}
.top{
  width: 25%;
}
.top_pro{
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 40px;
  border: 1px solid var(--light);
}
.top2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top1{
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top_div{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.top_div p{
  font-size: 14px;
}
.review_item{
  display: flex;
  gap: 20px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s;
}
.review_item:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.top_div p{
  transition: 0.5s all;
}
.top_div p:hover{
  color: var(--primary);
}
.review_item img{
  width: 70px;
  object-fit: cover;
  height: 70px;
}
.top_div h4{
  color: var(--primary);
}
.description{
  border: 1px solid var(--light);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description span{
  font-size: 14px;
}

.rate_div{
  padding: 40px 30px;
  border: 1px solid var(--primary);
  display: flex;
  background: var(--light-pink);
  justify-content: space-between;
  align-items: center;
}
.rate_left span{
  color: var();
}
.rate_stars{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary);
}
.description p{
  text-align: center;
  font-size: 18px;
  color: var(--secondary);
}
.rate_left{
  display: flex;
  align-items: center;
  gap: 20px;
}
.rate_right button{
  padding: 15px 25px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
  background: var(--warning);
}
.rate_right button:hover{
  background: var(--primary);
}

.related2{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
}
.related_item{
  text-align: center;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}
.related_item:hover img{
  transform: scale(1.08);
}
.related_item img{
  width: 100%;
  height: 220px;
  transition: all 0.5s;
  object-fit: cover;
}
.related_item h4{
  color: var(--primary);
}
.related_item p{
  font-size: 14px;
  cursor: pointer;
  color: var(--secondary);
  transition: all 0.5s;
}
.related_item p:hover{
  color: var(--primary);
}


@media screen and (max-width : 550px) {
 .item_single{
  margin: 15px;
 }
 .review, .single_div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
 }
 .single1, .single2{
  width: 100%;
 }
 .set_img img{
  height: 300px;
  object-fit: cover;
 }
 .related2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
 }
 .related_item img{
  width: 100%;
  height: 150px;
  object-fit: cover;
 }
 .rate_div{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 .rate_div, .description{
  padding: 20px;
 }
 .top, .top1{
  width: 100%;
 }
 .rate_left span, .rate_stars{
  font-size: 12px;
 }
 .top2{
  width: 100%;
 }
}
