.user_dash{
  display: flex;
  max-width: 1150px;
  margin: auto;
  padding: 40px 0px;
  gap: 30px;
}
.user_dash_body{
  width: 75%;
}

@media screen and (max-width : 550px) {
  .user_dash{
    margin: 15px;
  }
 .user_dash_body{
  width: 100%;
 }
}