.wishlist{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.wish{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width : 550px) {
  .wish{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}