.banner{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:30px
}
.banner img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}
.ban{
  width: 100%;
  overflow: hidden;
}
.banner img:hover{
  transform: scale(1.05)
}

@media screen and (max-width : 450px) {
  .banner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px
  }
}