.featured{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.featured h1{
  font-size: 20px;
  color: #1a1a1a;
}
.slick-prev{
  color: blue;
  left: 0px;
}

@media screen and (max-width : 450px) {
  .featured h1{
    font-size: 16px;
  }
}