.footer{
  background: var(--soft-dark);
}
.footer1{
  max-width: 1150px;
  margin: auto;
  display: flex;
  padding: 40px 0px;
  gap: 20px;
  justify-content: space-between;
}
.footer2{
  background: #080b0f;
}
.foot1,.foot4,.foot2,.foot3{
  flex: 1;
}
.foot1,.foot3,.foot2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.foot1 h4, .foot2 h4, .foot3 h4{
  color: var(--gray);
}
.foot4,.foot_links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foot_links h4{
  color: var(--gray);
  text-transform: uppercase;
}
.foot_icons{
  display: flex;
  align-items: center;
  gap: 20px;
}
.foot_icons button{
  width: 38px;
  height: 38px;
  background: var(--cyan);
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s all;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.foot_icons button:hover{
  transform: translateY(-5px);
}
.foot_icons button:nth-child(2){
  background: var(--blue);
}
.foot_icons button:nth-child(3){
  background: purple;
}
.address{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.address a{
  color: var(--light);
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.address p{
  color: var(--gray);
  font-size: 14px;
}
.zone ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.zone ul li, .foot4 p{
  color: var(--light);
  font-size: 14px;
  cursor: pointer;
  line-height: 24px;
}
.foot4 img{
  width: 200px;
}
.f20{
  max-width: 1150px;
  margin: auto;
  padding: 20px 0px;
  font-size: 14px;
  color: #ffffff;
}

@media screen and (max-width : 450px) {
  .footer{
    padding-top: 30px;
  }
  .footer1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 15px;
  }
  .foot2 h4,.foot1 h4, .foot3 h4, .foot_links h4{
    font-size: 12px;
  }
  .address a{
    font-size: 10px;
  }
  .zone ul li, .foot4 p{
    font-size: 10px;
  }
  .foot4 p{
    line-height: 18px;
    text-align: justify;
  }
  .foot4 img{
    width: 140px;
  }
  .foot_icons button{
    width: 30px;
    height: 30px;
  }
  .footer2{
    margin-top: 20px;
  }
  .f20{
    text-align: center;
  }
}