.responsive{
  position: sticky;
  bottom: 0px;
  background: #ffffffe8;
  z-index: 80;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.respon{
  display: flex;
  color: var(--secondary);
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  gap: 5px;
}
.respon p{
  font-size: 12px;
}
.acti{
  display: flex;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  gap: 5px;
  color: var(--primary);
}
.acti p{
  font-size: 12px;
}
@media screen and (max-width : 550px) {
  .responsive{
    display: flex;
  }
}

@media screen and (min-width : 551px) and (max-width : 850px) {
  .responsives{
    position: sticky;
    bottom: 10px;
    width: 100%;
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .responsive{
    position: sticky;
    bottom: 10px;
    width: 60%;
    background: #ffffffe8;
    z-index: 80;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 50px;
  }
  .acti, .respon{
    font-size: 20px;
  }
  .acti p, .respon p{
    font-size: 16px;
  }
}